
<div class="homing">
    <span style="font-size:x-large; margin: 1rem; font-weight: bold;">Welcome to sales data history</span>
    <span style="font-size:large; margin: 1rem;">click the buttons below to view sales data history for the past four years...</span>
        <div style="display: flex; justify-content: center;">
            <button nbButton size="medium" [routerLink]="['/bar']">view Barchat Data</button>
            <button nbButton size="medium" [routerLink]="['/table']">View Table Data</button>
            <button nbButton size="medium" [routerLink]="['/pie']">view PieChart Data</button>
        </div>
       
        
    
   
</div>

